<h1>Edit this entry:</h1>

<%= form_with(model: @book) do |form| %>

<%= render "error" %>

<p>
 <%= form.label :title %><br/>
 <%= form.text_field :title %>
</p>

<p>
 <%= form.label :author %><br/>
 <%= form.text_field :author %>
</p>

<p>
 <%= form.label :description %><br/>
 <%= form.text_area :description %><br/>
</p>

<p>
 <%= form.label :link %><br/>
 <%= form.text_field :link %><br/>
</p>

<p>
 <%= form.submit %>
</p>

<% end %>

<%= link_to "Back", books_path %>
